services:
  postgres:
    image: postgres:15-alpine
    container_name: bank_rest_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: bank_rest
      POSTGRES_USER: ${DATABASE_USER:-postgres}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-postgres}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_USER:-postgres}" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
